/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T           &kp Y      &kp U      &kp I      &kp O      &kp P
                &kp A      &kp S      &kp D      &kp F      &kp G           &kp H      &kp J      &kp K      &kp L      &kp SEMI
                &kp Z      &kp X      &kp C      &kp V      &kp B           &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH
                &kp LCTRL  &mo 2      &kp LALT   &kp LGUI   &mo 1           &left_encoder_sw &kp SPACE &kp RALT &kp DEL &kp SPACE &mo 2 &kp LEFT &kp DOWN &kp UP &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
                &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PERC        &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR
                &kp MINUS  &kp PLUS   &kp EQUAL  &kp LBKT   &kp RBKT        &kp PIPE   &kp BSLH   &kp SQT    &kp DQT    &kp GRAVE
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5          &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
                &trans     &mo 3      &trans     &trans     &trans          &left_encoder_sw &trans &trans &kp N0   &mo 3   &trans &trans &trans &trans &trans
            >;
        };

        raise_layer {
            bindings = <
                &kp HOME   &kp PGUP   &kp UP     &kp PGDN   &kp END         &kp N1     &kp N2     &kp N3     &kp N4     &kp N5
                &kp LEFT   &kp DOWN   &kp RGHT   &trans     &trans          &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
                &kp F11    &kp F12    &trans     &trans     &trans          &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &mo 3      &trans          &left_encoder_sw &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        adjust_layer {
            bindings = <
                &bootloader   &reset     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans
                &trans        &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans
                &trans        &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans
                &trans        &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans &trans &trans &trans &trans
            >;
        };
    };
};
