/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

        steps = <74>;           // твой шаговый фикс
        status = "okay";
    };

    // === КНОПКА ЭНКОДЕРА ===
    enc_btn: enc_btn {
        compatible = "zmk,gpio-input";
        gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // pin P1.03 — поменяй если нужна другая нога
    };
};
